<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hiyoko's Quiz page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
          <div class="jumbotron">
            <h3>クィズページ</h3>
            <p>日本語の意味を表す英単語を記入してください</p>
          </div>
          <h2>問題</h2>
          <form action="/quiz" method="post">
            <input class="form-control" name="question-nums" type="hidden" value={{.questionNums}}>
            <input class="form-control" name="user-id" type="hidden" value={{.userId}}>
            {{range $i, $word := .words}}
              <div class="form-group">
                <h4>{{$word.Meaning}}</h4>
                <input class="form-control" name="user-ans-{{$i}}" type="text" placeholder="答えを入力" autocomplete="off">
                <input class="form-control" name="good-ans-{{$i}}" type="hidden" value="{{$word.Name}}">
              </div>
            {{end}}
            <input class="btn btn-primary" type="submit" value="提出">
          </form>
        </div>
        <div class="col-md-2 col-sm-1"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>
